// footer - mobile xs
footer {
  background: $theme-dark-green-color;
  padding-bottom: 25px;
  color: $white-color;
  margin-top: 140px;

  .footer-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }

  a {
    color: $white-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  a:hover {
    text-decoration: underline;
  }

  .main-footer {
    position: relative;

    .footer-promo {
      position: relative;
      top: -90px;
      margin-bottom: -40px;
      display: flex;
      row-gap: 25px;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 50px;
      padding-right: 50px;
      background: #d9f1df;
      border-radius: 5px;

      .title {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: $typography-black-color;

        span {
          color: $theme-green-color;
        }
      }

      .action {
        .button-quate {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 30px;
          padding-right: 30px;
          background: $theme-green-color;
          border-radius: 5px;
          border: 1px solid $theme-green-color;
          color: $white-color;
          font-family: "Nunito";
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          cursor: pointer;
        }

        .button-quate:hover {
          color: $theme-green-color;
          background: none;
        }
      }
    }

    .footer-menu {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      padding-bottom: 40px;

      > li {
        .footer-title {
          margin-bottom: 15px;
        }

        > ul {
          margin-bottom: -10px;

          > li {
            margin-bottom: 10px;
          }
        }
      }

      .footer-subscribe {
        .footer-description {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 30px;
        }

        .subscribe-us-form {
          border-bottom: 1px solid $white-color;
          padding-left: 5px;
          padding-right: 5px;
          display: flex;
          gap: 10px;
          margin-bottom: 15px;

          .email-subscription {
            border: none;
            background: none;
            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            flex-grow: 1;
            color: $white-color;
          }

          .email-subscription::placeholder {
            color: $white-color;
          }

          .email-subscription:focus-within {
            outline: none;
          }

          .subscribe-button {
            border: none;
            background: none;
            font-family: "Nunito";
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            padding: 0;
            color: $white-color;
          }
        }

        .subscribe-social-links {
          display: flex;
          gap: 20px;

          a {
            display: block;
            width: 30px;
            height: 30px;
            border: 1px solid $white-color;
            border-radius: 50%;
          }

          .subscribe-social-links-item-facebook {
            a {
              background: center/60% no-repeat
                url(./img/icons/footer/facebook-default.svg);
            }
            a:hover {
              background: center/60% no-repeat
                  url(./img/icons/footer/facebook-active.svg),
                #ffffff;
            }
          }

          .subscribe-social-links-item-twitter {
            a {
              background: center/60% no-repeat
                url(./img/icons/footer/twitter-default.svg);
            }
            a:hover {
              background: center/60% no-repeat
                  url(./img/icons/footer/twitter-active.svg),
                #ffffff;
            }
          }

          .subscribe-social-links-item-google {
            a {
              background: center/60% no-repeat
                url(./img/icons/footer/google-default.svg);
            }
            a:hover {
              background: center/60% no-repeat
                  url(./img/icons/footer/google-active.svg),
                #ffffff;
            }
          }

          .subscribe-social-links-item-linkedin {
            a {
              background: center/60% no-repeat
                url(./img/icons/footer/in-default.svg);
            }
            a:hover {
              background: center/60% no-repeat
                  url(./img/icons/footer/in-active.svg),
                #ffffff;
            }
          }
        }
      }

      .footer-contacts {
        .tel {
          > ul {
            > :last-child::before {
              content: ", ";
            }

            > li {
              display: inline-block;
            }
          }
        }
      }

      .footer-useful-links {
        > ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 300px;

          .useful-links-item {
            width: 50%;
          }

          .useful-links-item::before {
            content: "";
            width: 6px;
            height: 10px;
            display: inline-block;
            background-image: url(./img/icons/footer/arrow-left.svg);
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
            padding-right: 5px;
          }
        }
      }
    }
  }
  .bottom-footer {
    border-top: 1px solid $white-color;

    .bottom-footer-content {
      padding-top: 15px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      text-align: center;

      .copyright {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
      }

      .terms-and-policy {
        display: flex;
        justify-content: space-between;

        a {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  footer {
    margin-top: 150px;
    padding-bottom: 40px;

    a {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }

    .footer-title {
      font-size: 24px;
      line-height: 33px;
    }

    .main-footer {
      .footer-promo {
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 10px;
        width: 100%;
        top: -50px;
        margin-bottom: 65px;
        flex-direction: row;
        justify-content: space-between;

        .title {
          font-weight: 700;
          font-size: 45px;
          line-height: 61px;
        }

        .action {
          .btn-quate {
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 35px;
            padding-right: 35px;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }

      .footer-menu {
        gap: 40px;
        flex-direction: row;
        justify-content: space-between;

        > li {
          h5 {
            margin-bottom: 80px;
          }

          > ul {
            margin-bottom: -20px;

            > li {
              margin-bottom: 20px;
            }
          }
        }

        .footer-subscribe {
          p {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 45px;
          }

          .subscribe-us-form {
            margin-bottom: 30px;

            .email-subscription {
              font-size: 14px;
              line-height: 25px;
            }

            .subscribe-btn {
              font-size: 24px;
              line-height: 33px;
            }
          }

          .subscribe-social-links {
            gap: 30px;

            .subscribe-social-links-item {
              a {
                width: 40px;
                height: 40px;
              }
            }
          }
        }

        .footer-useful-links {
          flex: 1;
          min-width: 240px;

          > ul {
            max-width: none;

            .useful-links-item {
              width: 50%;
            }

            .useful-links-item::before {
              width: 7px;
              height: 12px;
            }
          }
        }

        .footer-popular-services {
          min-width: 190px;
          max-width: 190px;
        }

        .footer-contacts {
          flex: 1;

          .tel {
            > ul {
              > li {
                display: block;
              }
              > :last-child::before {
                content: none;
              }
            }
          }
        }
      }
    }

    .bottom-footer {
      .bottom-footer-content {
        padding-top: 30px;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;

        .copyright {
          flex-shrink: 2;
          font-size: 18px;
          line-height: 30px;
          text-align: left;
        }

        .terms-and-policy {
          flex-shrink: 0;
          gap: 30px;

          a {
            font-size: 16px;
            line-height: 28px;
          }
        }
      }
    }
  }
}
